* {
	box-sizing: border-box;
}

button {
	transition: all 0.3s ease;
}

html, body {
	min-height: 100%;
}

body {
	margin: 0;
	font-size: 16px;
	line-height: 160%;
	overflow-x: hidden;
	padding: 0 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
	-webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
	-webkit-transition-delay: 9999s;
}

*::-webkit-scrollbar {
	position: absolute;
	width: 6px;
	height: 6px;
}

*::-webkit-scrollbar-track {
	background: #eee;
}

*::-webkit-scrollbar-thumb {
	background: #bbb;
	border-radius: 5px;
	cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
	background: #888;
}


.sm-hidden {
	@media (max-width: 576px) {
		display: none !important;
	}
}

.md-hidden {
	@media (max-width: 900px) {
		display: none !important;
	}	
}

.lg-hidden {
	@media (max-width: 992px) {
		display: none !important;
	}	
}

.lx-hidden {
	@media (max-width: 1200px) {
		display: none !important;
	}	
}

.sm-show {
	display: none !important;
	@media (max-width: 576px) {
		display: flex !important;
	}
}

.md-show {
	display: none !important;
	@media (max-width: 768px) {
		display: flex !important;
	}	
}

.lg-show {
	display: none !important;
	@media (max-width: 992px) {
		display: flex !important;
	}
}

.lx-show {
	display: none !important;
	@media (max-width: 1200px) {
		display: flex !important;
	}
}

.table-head {
	th {
		font-weight: 700;
	}
}